{{!-- <div class = "card"> --}}
    <div class="btn-custom">
        <a href="/newreview/{{user_id}}/new" class="btn btn-primary">Add Review</a>
    </div>
    
{{!-- </div> --}}

<div class="card" style=" margin:10px">
    <h1>{{name}}</h1>
    <h2>{{cuisine}}</h2>
    <h3>{{address}}</h3>    
</div>

{{#each reviews}}
    <div class="card" style=" margin:10px">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Rating: {{rating}}</li>
            <li class="list-group-item">Review: {{review}}</li>
            <li class="list-group-item">Reviewer: {{reviewer}}</li>
        </ul>
        <img src="{{image}}" class="review-img" alt="">
    </div>
{{/each}}

